@namespace oxy "http://www.oxygenxml.com/extensions/author";
@namespace xi url('http://www.w3.org/2001/XInclude');
@media oxygen AND (min-width : 25cm) {

/* ---------------------------------------------------------- PAGE ----------------------------------------------------------*/
    oxy|document {
        background-color: grey;
    }
    TEI {
        border: 1px solid grey;
        background-color: #f4ede1;

    }
    /* Padding inside the page. */
    TEI {
        padding-top: 1em;
        padding-right: 0.5em;
        padding-left: 1em;
        padding-bottom: 1em;
    }
}

TEI {
    background-color: white;
    -oxy-display-tags: none !important;
    color: black;
    font-family: 'Junicode', 'Arial', 'Helvetica', sans-serif;
    font-size: 14pt;
}

oxy|comment {
    display: none !important;
}
TEI:before {
display: block;
    font-size: 30pt;
    font-weight: bold;
    color:black;
    text-align: center;
    margin-bottom: 1em;  
  content:
  oxy_xpath('teiHeader/fileDesc/titleStmt/title/text()')
 }
teiHeader {
    display: block;
    font-size: xx-large;
    font-weight:bold;
    color: green;
    text-align:center;
    border-top: 3px solid black;
    -oxy-foldable: true;
    content: 
    oxy_label(text,'Task:', styles, "text-decoration: underline;")
    oxy_label( text, '  Fill in the Metadata fields')  
}



fileDesc:before {
display:block;
color:black;
font-size:large;
text-align: center;
font-weight:normal;

    content:  oxy_label(text, 'Fill out the form with all the necessary metadata')
}

/*  Hidden */


lb {
    display:none;
}

/* MS Desc */

sourceDesc {
    display:block;
    color:black;
    font-weight: normal;
    font-size: large;
    text-align: left;
}





publicationStmt {
    display: none;
}

msDesc {
    display:block;
}

/* Header Hidden  */

publicationStmt > publisher,
publicationStmt > authority,
publicationStmt > distributor,
publicationStmt > availability,
publicationStmt > pubPlace
{
    display: none
}
titleStmt,
fw,
seriesStmt,
encodingDesc,
profileDesc {
    display: none;
}
facsimile {
    display: none
}

/*  */
/*  Sectioning  */
/* hidden */

ab[type= "MarginTextZone:inner"]:empty,
ab[type= "MarginTextZone:outer"]:empty,
ab[type= "MarginTextZone:upper"]:empty,
ab[type= "MarginTextZone:lower"]:empty {
    display:none;
}

ab[type = MainZone],
ab[type = "MainZone:column#a"],
ab[type = "MainZone:column#b"],
ab[type = "MainZone:column#c"],
ab[type = "Mainzone:column#d"]{
    display: none;
}

/* */ 

/*  Sectiontitle and Task-Description */
body:before{
    display:block;
    font-size: xx-large;
    font-weight:bold;
    color: green;
    text-align:center;
    border-top: 3px solid black;
    content: 
    oxy_label(text,'Task:', styles, "text-decoration: underline;")
    oxy_label( text, '  Combine Multiline Glosses')
}

body{
    display: block;
    margin-top:2em;
    text-align:center;
    content: 'Combine all glosses, which should be one, but are flagged as multiple'
}
div {
    display:block;
    text-align: left;
}

/* Folio Number */

pb {
    font-weight: bold;
    font-size: xx-large;
    display: block;
      border-top: 3px solid black;
    content: 
    oxy_label(text, 'FOLIO')
 oxy_xpath('substring-after(@n, "fol.")')
}

/* TextZones */


ab[type= "MarginTextZone:inner"]{
    display: inline-block;
    content: "Inner Margin Text Zone: "
}


ab[type= "MarginTextZone:outer"] {
    
    display: inline-block;
    content: "Outer Margin Text Zone: "
}


ab[type= "MarginTextZone:lower"] {
    
    display: inline-block;
    content: "Lower Margin Text Zone: "
}

ab[type= "MarginTextZone:upper"] {
    
    display: inline-block;
    content: "Upper Margin Text Zone: "
}

ab[type= "MarginTextZone:upper"] > ab[type="textline"] {
    
    display: none;
}

ab[type= "MarginTextZone:outer"] {
    
    display: inline-block;
    content: "Outer Margin Text Zone: "
}




    


/*  Glossen  */
gloss[type = signe_de_renvoi] {
    display: block;
    content: 'Signe de Renvoi:'
}

gloss  {
    display: block;
    content: 
    
    oxy_label(text, '    Gloss ', styles, 'font-weight:bold')
}

