@namespace oxy "http://www.oxygenxml.com/extensions/author";
@namespace xi url('http://www.w3.org/2001/XInclude');
@media oxygen AND (min-width : 25cm) {

/* ---------------------------------------------------------- PAGE ----------------------------------------------------------*/
    oxy|document {
        background-color: grey;
    }

    /* Padding inside the page. */
    PcGts {
        padding-top: 1em;
        padding-right: 0.5em;
        padding-left: 1em;
        padding-bottom: 1em;
        background-color: white;
        -oxy-display-tags: none !important;
        color: black;
        font-family: 'Junicode', 'Arial', 'Helvetica', 'Arial Unicode MS', sans-serif;
        font-size: 14pt;
        border: 1px solid grey;

    }


    oxy|comment {
        display: none !important;
    }
    * {
        -oxy-display-tags: none;
    }
    
    



}

Coords, Baseline {
    display: none;
}

/*  Layout */

TextRegion,
TextLine {
    display: block;
}


TextRegion[sanity="critical"]:not([custom]) {
    Content:
    oxy_label(text, oxy_xpath("name()"), styles, "font-Family: Consolas; font-weight:bold")
    oxy_label(text, "    Element is missing a type. Add a type, or delete the Element")
    
}

TextRegion {
    display: block;
    content:
    oxy_label(text, oxy_xpath("name()"), styles, "font-Family: Consolas; font-weight:bold")   
    oxy_label(text, '   Type:   ')
    oxy_combobox(edit,'@custom', editable, true, labels, "Mainzone, Mainzone Column A, Mainzone Column B, Mainzone Column C, Mainzone Column D, Mainzone intercolumnar, Margintextzone Inner, Margintextzone Outer, Margintextzone Upper, Margintextzone Lower, Numbering Page, Numbering Folio ", values, "structure {type:MainZone;}, structure {type:MainZone:column#a;}, structure {type:MainZone:column#b;}, structure {type:MainZone:column#c;}, structure {type:MainZone:column#d;}, structure {type:MainZone:intercolumnar;}, structure {type:MarginTextZone:inner;}, structure {type:MarginTextZone:outer;}, structure {type:MarginTextZone:upper;}, structure {type:MarginTextZone:lower;}, structure {type:NumberingZone:page;}, structure {type:NumberingZone:folio;}")
}

