<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <title>Glossit DSD</title>
   </head>
   <body>
      <div style="position:sticky; top: 0px; background:white;">
         <div style="display:flex;"><img src="../img/Detective.png" height="130px" width="130px" /><div style="display:block;">
               <h1>GlossIT DSD</h1>
               <h2>Dörtl Snippet Detector</h2>
            </div>
         </div>
         <div style="border-top:dotted;">
            <div style="padding:10px;">
               <p>
                  <seg style="font-weight:bold;">Imagesnippet</seg> of 
                  
                  <seg style="font-weight:bold;">INNERMARGINALLINE:GLOSS</seg> with Line ID: 
                  <u>eSc_line_9778bc5f</u></p>
               <p>
                  <seg style="font-weight:bold;">Current Text</seg> in Snippet:  
                  <em>c...</em></p>
               <p>
                  <seg style="font-weight:bold;">Zoomfunction</seg>:   STRG +/- or STRG MOUSEWHEEL</p>
            </div>
         </div>
      </div>
      <section>
         <div id="conainer"><svg height="1200px" width="1064px">
               <title>ZOOM In and Out --&gt; STRG +/- or STRG MOUSEWHEEL</title>
               <image id="myimage" href="\\pers.ad.uni-graz.at\fs\ou\562\data\projekte\GlossIT\Data\IMG\\7_1337a_default.jpg"></image>
               <rect width="19" height="23" x="72" y="136" style="fill:none;stroke-width:3;stroke:#03b6fc"></rect></svg></div>
      </section>
   </body>
</html>